<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/batch13</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1234</property>
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
	<mapping class="com.rest.dto.Faculty"/>
    <mapping class="com.rest.dto.Tasks"/>
    <mapping class="com.rest.dto.Student"/>
    <mapping class="com.rest.dto.Doubts"/>
    <mapping class="com.rest.dto.Review"/>
    <mapping class="com.rest.dto.Submit"/>
    <mapping class="com.rest.dto.Todo"/>
    <mapping class="com.rest.dto.Profile"/>
    <mapping class="com.rest.dto.StudentProfile"/>
   
    
  </session-factory>
</hibernate-configuration>